/*
Main color: #e9c65e
Gray color: #b6bbc1
Tint of black: #1a1a18
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

/**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Poppins", sans-serif;
}

/* Hero section */
.hero {
  background-image: url(images/porsche.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 384rem;
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(182, 187, 193, 0.62);
  height: 7.2rem;
}
.navlinks {
  display: flex;
  text-transform: uppercase;
}
.navlink {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 3.2rem;
  text-decoration: none;
  color: #000000;
}

.last {
  margin-right: 9.6rem;
}

.navlink:hover {
  color: #e9c65e;
  transition: all 0.3s;
}

.logo img {
  width: 15rem;
  height: 7.2rem;
}

.hero-heading {
  color: #b6bbc1;
  font-size: 7.2rem;
  max-width: 100%;
  text-align: center;
  align-items: center;
  line-height: 10rem;
  letter-spacing: -5%;
  font-weight: 700;
}
.hero-paragraph {
  text-align: center;
  font-size: 3.6rem;
  max-width: 42rem;
  line-height: 4.7rem;
  color: #e9c65e;
}

.lindi-text {
  font-weight: 700;
  color: #e9c65e;
}

.left-block {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(26, 26, 24, 0.25);
}

.left-block-header {
  display: flex;
  justify-content: center;
  margin-top: 22rem;
  left: 20%;
}
.left-block-para {
  display: flex;
  justify-content: center;
  margin-top: 4.2rem;
}

.col-grid {
  display: flex;
  flex-direction: column;
}
.collection {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 324rem;
  height: 82rem;
  background: #1a1a18;
  /* position: relative; */
}
.options {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}
.options-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.option-link {
  margin-top: 3.2rem;
  position: relative;
  width: 27.5rem;
  height: 17.5rem;
  border: 5px solid #b6bbc1;
  background: #1a1a18;
  text-align: center;
  margin-left: 3.2rem;
}
.option-link:hover {
  border: 5px solid #e9c65e;
}
.option-image {
  position: absolute;
  top: 10%;
  left: 38%;
}
.link {
  text-decoration: none;
  color: #e9c65e;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.2rem;
}
.link:hover {
  color: #b6bbc1;
  transition: color 0.3s;
}
/* Our Collection */
.our-collection {
  margin: 0 auto;
  text-align: center;
  max-width: 80rem;
  /* transform: translateX(-70%);
  transform: translateX(70%); */
}
.collection-header {
  font-size: 4.8rem;
  color: #b6bbc1;
}
.collection-text {
  font-size: 2.4rem;
  color: #e9c65e;
  font-weight: bold;
  margin: 0.4rem;
}
.collection-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-top: 6.8rem;
}
.one-showcase {
  min-height: 75rem;
  min-width: 192rem;
  /* min-width: 100%; */
  position: relative;
}
.frontier {
  background-image: url("/images/nissan.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.suv {
  background-image: url("/images/xhip.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ferrari {
  background-image: url("/images/ferrari.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: 100%;
}
.showcase-header {
  margin-top: 3.6rem;
  position: absolute;
  margin-left: 6.0rem;
  font-size: 4.8rem;
  letter-spacing: 15%;
  line-height: 7.2rem;
  color: white;
}
.showcase-button {
  color: #e9c65e;
  border: 1px solid #1a1a18;
  background: #1a1a18;
  text-decoration: none;
  padding: 1rem 3rem;
  text-align: center;
  border-radius: 23px;
  font-size: 2.8rem;
  font-weight: 800;
  margin-left: 9.0rem;
  position: absolute;
  top: 20rem;
  transition: all 0.3s;
}
.showcase-button:hover {
  background-color: #e9c65e;
  color: #1a1a18;
  border: 1px solid #e9c65e;
}
.footer {
  height: 7.2rem;
  background: #b6bbc1;
  text-align: center;
  color: #1a1a18;
  display: flex;
  justify-content: center;
}

.footer h1 {
  letter-spacing: 15%;
  font-weight: 700;
  font-size: 2.8rem;
}
